body {
    background: linear-gradient(85deg, #FFF, #EEE, #F7F7F7, #EEE, #FFF, #EEE, #F7F7F7, #EEE, #FFF);
    background-image: url('../img/paw_print.png');
    background-size: 125px 125px;
    background-repeat: repeat;
    background-attachment: fixed;
    text-align: center;
    padding-top: 5rem;
}

h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
img {
    width: 100%;
}

a {
    text-decoration: none;
}

#content-div {
    position: relative;
    width: 80%;
    margin: auto;
    max-width: 1050px;
}

/******************

******************/

.about_pic {
    width: 185px;
    max-width: 100%;
    border-radius: 50%;
    margin-right: 15px;
}

nav {
    background-color: rgb(103, 54, 30);
    /*Was rgb(129, 67, 37)*/
}

/******************
Gallery Styles
******************/
.gallery {
    height: 330px;
}

#gallery_large,
#gallery_med,
#gallery_small {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;

}

#gallery_large img,
#gallery_med img,
#gallery_small img {
    max-width: 225px;
    align-self: center;
    padding: 15px 0;
    border-radius: 15%;

}

#thumbs_lg,
#thumbs_small,
#thumbs_med {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

#gallery_large,
#gallery_med {
    display: none;
}

.gallery_button { border: none;
   display: inline-block;
   outline: none !important;
   padding: 8px 16px;
   vertical-align: middle;
   overflow: hidden;
   text-decoration: none;
   color: inherit;
   background-color: inherit;
   text-align: center;
   cursor: pointer;
   white-space: nowrap;
   font-size: 2em;
}

.gallery_button:hover {
    background-color: #BBB;
    color: #EEE;
}

.left_button {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
}

.right_button {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
}

/*************************************************
Contact us div styles
*************************************************/

/*Contact info section styles*/
#info p {
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
}

#info p a {
    text-decoration: none;
}

#info p a:hover {
    text-decoration: underline;
}

/*Contact info buttons styles*/

#info a.button {
    line-height: 39px;
    display: inline-block;
    width: 85%;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    background: rgba(103, 54, 30, 0.7) /*was #cabfbf*/;
    border: 2px solid #e1d1d1;
    text-align: center;
    cursor: pointer;
}

#info .button {
    margin-top: 4px;
    line-height: normal;
    padding: 8px 0 6px 0;
}

#info .button:first-child {
    margin-top: 0;
}

/*Contact form styles*/

#contact-form form {
    margin-top: 10px;
    overflow: hidden;
    display: block;
    overflow: hidden;
    margin-left: -2%;
}

#contact-form .input {
    width: 48%;
    margin-left: 2%;
    float: left;
    margin-bottom: 13px;
}

#contact-form .subject,
#contact-form .message {
    width: 98%
}

#contact-form form button.button,
 {
    margin-left: 2%;
    width: auto;
    padding: 0 60px;
    font-size: 18px;
    font-weight: 400;
    background-color: #c4b9b9;
    background-image: linear-gradient(to bottom,#c4b9b9,#9f9694);
}

#contact-form .input input,
#contact-form .input textarea {
    padding: 10px 15px;
    font-size: 0.8em;
    background: transparent;
    border: 2px solid #e1d1d1;
    width: 100%;
    transition: all 200ms ease-out;
}

#contact-form form button.button,
#contact- {
    margin-left: 2%;
    width: auto;
    padding: 0 60px;
    font-family: 'din-condensed-web';
    font-size: 18px;
    font-weight: 400;
    background-color: #c4b9b9;
    background-image: linear-gradient(to bottom,#c4b9b9,#9f9694);
}

/******************
Styles for Social Media Icons in Footer
******************/
.social {
    list-style: none;
}

.social li {
	background-color: #B5B5B5;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;

}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
    background: #2c3e50;
}

.social li a {
	color: #EDEFF1;
}

.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}


/*****************************************************

Lightbox styles

******************************************************/

.lightbox {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20000;
	padding-top: 30px;
	box-sizing: border-box;
}

.lightbox img {
	display: block;
	margin: 0 auto;
    width: initial;
	max-width: 80%;
}


/*****************************************************

Media Queries for responsive image gallery swap-outs

******************************************************/

@media (min-width: 760px) and (max-width: 1060px) {
    #gallery_med {
        display: block;
    }
    #gallery_small {
        display: none;
    }
}

@media (min-width: 900px) {
    #gallery_small,
    #gallery_med {
        display: none;
    }
    #gallery_large {
        display: block;
    }
}
